/* 全局配置消息提示框 */

.ivu-message {
    width: 350px !important;
    padding: 20px 5px;
    font-size: 20px !important;
    line-height: 24px;
    text-align: center;
    border-radius: 8px;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.ivu-table {
    font-size: 14px !important;
}